streamlit==1.39.0
pandas
Pillow
qrcode==7.4.2
pyzbar==0.1.9
opencv-python-headless==4.10.0.84
reportlab==4.2.2
openpyxl==3.1.5
XlsxWriter==3.2.0
streamlit-qrcode-scanner==0.1.2
supabase==2.7.4
fpdf2==2.8.2
